<form action="/auth/sign-in" method="post">
    <label>Email</label>
    <input type="email" name="email">
    <label>Password</label>
    <input type="password" name="username">
    <button type="submit">Sign In</button>
</form>